.Card {
	height: 20rem;
	width: 20rem;
	margin: 20px;
	background-color: #ddd;
}

@media (max-width: 500px) {
	.Card {
		height: 25rem;
		width: 25rem;
		margin: 10px;
	}
}

@media (max-width: 1200px) {
	.Card {
		margin: 10px;
	}
}
